.activity-form {
    width: 500px;
    margin: auto;
    }
.activity-form-label {
    display: block;
    margin-top: 10px;
}
.activity-form-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
.activity-form-textarea{
    width: 100%;
    height: 400px;
}
.activity-form-button {
    width: 100%;
    margin: 20px 0px;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--yufo);
    color: var(--sefid);
    border: none;
    cursor: pointer;
}
.activity-form-button:hover {
    background-color: #0056b3;
}




@media screen and (max-width: 770px){
    .activity-form {
        width: 80%;
    }
    .activity-form-h1{
        font-size: 20px;
    }
}